* {

    margin-top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {

    background-color:#F86106;
    position: flex;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    
}

header img {

    position: relative;
    height: 100%;
}

nav {

    margin-right: 0%;
    font-size: x-small;
    width: 70vw;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

nav ul li {

    padding: 15px 20px; 
    display: inline-flex;
}

li {

    float: left;
    align-content: center;
    list-style: none;
}

li a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    
}

li a:hover:not(.active){

    background-color: #975f2a; 
    overflow: hidden;
    border-radius: 3vh;
}

body {

    background-color:rgb(218, 72, 19);
}

#footer {
    
    background-color:#F86106;
    position: flex;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

#contato {

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    text-align: center;


}

#mainDiv {
    
    padding-top: 50px;
    height: 750px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

#card_reservas {

    padding-top: 10px;
    background-color: #fd7c2b;  
    border-radius: 3vh;
    justify-content: center;
    display: inline-flex;
    width: 500px;
    height: 470px;
}

#imagem_fundo {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fd7c2b;   
    padding-top: 5px;
    height: 500px;
    

}

#imagem_fundo img {

    height: 90%;
    width: 100%;
    border-radius: 3vh;
    margin-top: 20px;

}
